@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~antd/dist/antd.css';
.App {
    padding: 0;
    margin: 0;
}

svg {
    vertical-align: baseline;
}

.btn-orange {
    background-color: orange !important;
}

.btn-orange:hover {
    color: black !important;
}