@import "~antd/dist/antd.css";
@import "~antd/dist/antd.dark.css";
@import "~antd/dist/antd.compact.css";
.App {
	padding: 0;
	margin: 0;
}

svg {
	vertical-align: baseline;
}

.btn-orange {
	border-color: darkorange;
	background-color: orange !important;
}

.btn-orange:hover {
	border-color: darkorange;
	opacity: 80%;
	color: black !important;
}
